@model GestaoEscolar.Models.Turmas

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Turmas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.desc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.desc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Classe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Classe.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Editar</a> |
    <a asp-action="Index">Voltar a Lista</a>
</div>
